/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Colorazione sfondo pagina */
body {
    background-color: #f6f8f9;
}

/* Contenitore logo e titolo */
header {
    background-color: white;
    padding: 10px 25px;
}

/* Titolo */
h1 {
    display: inline-block;
    vertical-align: middle;
}

/* Logo */
header>img {
    vertical-align: middle;
}

/* Contenitore del contenuto principale */
main {
    margin: 2% 20%;
    padding: 15px 40px;
    background-color: white;
}