/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Colorazione sfondo pagina */
body {
    background-color: #f6f8f9;
}

/* Contenitore logo e titolo */
header {
    background-color: white;
    padding: 10px 25px;
}

/* Titolo */
h1 {
    display: inline-block;
    vertical-align: middle;
}

/* Logo */
header>img {
    vertical-align: middle;
}

/* Contenitore del contenuto principale */
main {
    margin: 2% 20%;
    background-color: white;
}

/* Gestione di ogni div presente */
div {
    padding: 15px 40px;
}

/* Stile linea */
hr {
    opacity: 0.2;
}

/* Classe dei bottoni */
.button {
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

/* COLORI */

/* Classe per colorazione blu */
.blue {
    background-color: #47adf1;
    color: white;
    border-color: #47adf1;
}

/* Classe per colorazione bianca */
.white {
    background-color: white;
    color: #c9ced3;
    border-color: #c9ced3;
}

/* Classe per la colorazione viola */
.purple {
    background-color: #9c72e4;
}

/* Classe per la colorazione verde */
.green {
    background-color: #6bc4ae;
}

/* Classe per la colorazione arancione */
.orange {
    background-color: #f29e33;
}

/* Classe per la colorazione rosa */
.pink {
    background-color: #d863a1;
}

/* Classe per la colorazione verde chiaro */
.light-green {
    background-color: #b0c926;
}

/* FINE COLORI */

/* Classe per tutti i checkmark */
.checkmark {
    border: 1px solid;
    border-radius: 50%;
    padding: 1px 4px;

    font-size: 10px;
    font-weight: 800;
}

/* Classe per le spunte verdi */
.done {
    color: #6bc4ae;
}

/* Classe per le spunte rosse */
.undone {
    color: #eb5952;
}

/* Classe etichette delle task */
.task-tag {
    padding: 5px 10px;
    border-radius: 20px;

    font-size: 10px;
    color: white;
}